PORT=3000
FRONTEND_ORIGIN=http://localhost:5173
HEAD_REQUEST_TIMEOUT_MS=5000
MAX_CONCURRENCY=5
MAX_GLOBAL_HEAD_CONCURRENCY=10
ARTIFICIAL_DELAY_MIN_MS=0
ARTIFICIAL_DELAY_MAX_MS=10000
MAX_ACTIVE_JOBS=4
CREATE_JOB_RATE_LIMIT=10
CREATE_JOB_RATE_WINDOW_MS=60000
MAX_COMPLETED_JOBS_HISTORY=200